<mat-card class="mb-2" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{lock.uuid}}</mat-card-title>
      <mat-card-subtitle>{{lock.model}}</mat-card-subtitle>
    </mat-card-title-group>
    <div fxFlex></div>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div>
      Status: 
      <mat-icon> {{ statusIconMapping[lock.status] }}</mat-icon>
      {{ lock.status }}
    </div>
    <div>
      <p *ngIf="otpCode$">{{labels.otp}}: {{ otpCode$ | async }}</p>
      <app-countdown [seconds]="this.expirationTimeControl.value * 60"></app-countdown>
    </div>

    <!--
    <mat-button-toggle-group [formControl]="expirationTimeControl" hideSingleSelectionIndicator="false" aria-label="Tiempo de expiracion">
      <mat-button-toggle *ngFor="let t of expirationTimeFrame" [value]="t.value">
        {{ t.label }}
      </mat-button-toggle>
    </mat-button-toggle-group>
    -->

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="generateOtp()" class="mr">
      <mat-icon>
        password
      </mat-icon>
      {{ labels.genarateButton }}
    </button>
    <button mat-raised-button>
      <mat-icon>
        auto_stories
      </mat-icon>
      {{ labels.viewLogsButton }}
    </button>
  </mat-card-actions>
</mat-card>