<div class="gift-container">
  <div *ngIf="!item">
    <h1>Descubre quien es tu amigo secreto</h1>
    <hr />
    <div class="search-container">
      <app-gift></app-gift>
      <mat-form-field class="ml mr" appearance="fill">
        <mat-label> ¿Cual es tu nombre? </mat-label>
        <input
          matInput
          #name
          [matAutocomplete]="auto"
          [formControl]="myControl"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="descubrir(name.value)">
        Descubrir
      </button>
    </div>
  </div>
  <div *ngIf="item">
    <div class="f-center">
      <app-gift color="#ffc857" class="mr"></app-gift>
      <span class="pl">
        Es momento de <br />
        buscar un regalo para
      </span>
    </div>
    <div class="f-end mt pt">
      <h2>
        {{ item ? item.to : "No encontrado" }}
      </h2>

      <app-gift
        style="margin-left: auto"
        color="#08bdbd"
        ribbonColor="#abff4f"
        size="40"
      ></app-gift>
      <app-gift class="ml" color="#7678ed" ribbonColor="#f7b801" size="30"></app-gift>
    </div>
  </div>
</div>
