<!-- PASO 1 -->
<div>
  <mat-form-field appearance="fill">
    <mat-label> ¿Quienes participan? </mat-label>
    <input
      matInput
      #participantInput
      [formControl]="nombreParticipanteCtrl"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-form-field>
</div>
<mat-chip-list #chipList cdkDropList [cdkDropListData]="participantes">
  <mat-chip
    *ngFor="let participante of participantes"
    cdkDrag
    (removed)="remove(participante)"
  >
    {{ participante }}

    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
</mat-chip-list>
<!-- PASO 2 -->
<h3>¿Quieres hacer grupos?</h3>
<p>
  Los grupos permiten que las personas del mismo grupo no se regalen entre
  ellos.
</p>
<mat-form-field appearance="fill">
  <mat-label> ¿Familias que participan? </mat-label>
  <input
    matInput
    [ngModel]="numeroGrupos"
    (ngModelChange)="familyCountChanged($event)"
  />
</mat-form-field>
<div cdkDropListGroup>
  <div class="group-container">
    <div
      *ngFor="let g of grupos"
      class="group"
      cdkDropList
      [cdkDropListData]="g.participantes"
      (cdkDropListDropped)="drop($event)"
    >
      {{ g.nombre }}
      <mat-chip-list ariaOrientation="vertical">
        <mat-chip
          *ngFor="let participante of g.participantes"
          cdkDrag
          (removed)="remove(participante)"
        >
          {{ participante }}

          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>
<!--
<div *ngFor="let p of assignacion" class="row" [class.red]="p.from === p.to">
  <div class="name-box">
    {{ p.from }}
  </div>
  <div class="name-box">
    {{ p.to }}
  </div>
</div>
-->
<button mat-raised-button color="primary" (click)="run()">Rifar</button>
<div>
  <p>Ahora comparte este link con tus amigos</p>
  <mat-form-field appearance="fill">
    <mat-label> Copiar URL </mat-label>
    <input matInput [ngModel]="url" />
    <mat-icon matSuffix>content_copy</mat-icon>
  </mat-form-field>
</div>
