.countdown-timer {
  display: inline-flex;
  gap: 8px;
}

.value {
  width: 35px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #333;
  color: #00ff9f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}