@use "@angular/material" as mat;
/* You can add global styles to this file, and also import other style files */

html,
body {
  // background-color: #00509d;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-color: #303030;
}

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

// Define a light theme
$theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$purple-palette),
      accent: mat.define-palette(mat.$green-palette),
    ),
  )
);

// Apply the dark theme by default
// @include mat.core-theme($dark-theme);
@include mat.all-component-themes($theme);

$space: 12px;

.ml {
  margin-left: $space;
}

.mr {
  margin-right: $space;
}

.mt {
  margin-top: $space;
}

.mb {
  margin-bottom: $space;
}

.pl {
  padding-left: $space;
}

.pr {
  padding-right: $space;
}

.pt {
  padding-top: $space;
}

.pb {
  padding-bottom: $space;
}

.f-center {
  display: flex;
  align-items: center;
}

.f-end {
  display: flex;
  align-items: flex-end;
}
